body {
    margin: 0;
    padding: 0;
    position: relative;
}

.music-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.music-block audio {
    position: absolute;
    top: 30%;
    z-index: 10;
    width: 70%;
    visibility: hidden;
    transition-duration: 0.3s;
    transition-property: ocacity;
}

.music-block .detail-street-img {
    position: absolute;
    bottom: 0;
    width: 30%;
    z-index: 2;
    left: 25%;
    background-color: white;
}

.music-block .angle {
    position: absolute;
    border: #000;
    border-width: 0.1rem;
    width: 33%;
    height: 53%;
    border-bottom-style: solid;
    border-left-style: solid;
    bottom: 8%;
    left: 4%;
    z-index: 1;
}

.music-block .arrow-btn {
    position: absolute;
    width: 5vw;
    height: 5vw;
    z-index: 20;
    bottom: 50%;
    left: 6%;
    transition-duration: 0.3s;
    transition-property: transform;
}

.arrow-btn img {
    width: 100%;
    height: 100%;
}

.video-block {
    position: relative;
    padding-top: 16vh;
    padding-inline: 3rem;
    display: flex;
    flex-direction: column;
    /* background-color: rgba(233, 144, 144, 0.5); */
    overflow: hidden;
}

.video-block-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
}

.video-block-intro {
    padding-inline-start: 0.15rem;
    padding-top: 2.5rem;
    position: relative;
    color: black;
}

.video-block-intro h1 {
    font-weight: bold;
    font-size: 2rem;
    margin-block: 1rem;
}

.video-block-intro p {
    font-weight: bold;
    font-size: .8rem;
}


.video-block-intro-3d {
    position: absolute;
    left: 40%;
    top: -40%;
    width: 30%;
    aspect-ratio: 1;
    z-index: 3;
}

.video-block-video-block {
    position: relative;
    padding-top: 3rem;
    padding-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-block-video-block video {
    width: 100%;
    aspect-ratio: 1.58;
    object-fit: cover;
    /* Add object-fit property to cover the entire container */
    border-radius: 20px;
    /* Add border-radius property for rounded corners */
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.2);
}

.article-block {
    font-size: .8rem;
    line-height: 1.5;
    display: flex;
    padding: 10%;
    flex-direction: column;
    /* Add this line to vertically align the inner elements */
}


.article-block-word {


    &+& {
        position: relative;
        margin-top: 2rem;
    }

    &+&::before {
        top: -1rem;
        position: absolute;
        display: block;
        content: "";
        width: 10%;
        height: 1px;
        background-color: #000;
    }
}

.article-block-word.en {
    font-weight: 400;
    font-size: .6rem;
    line-height: 2.2;
    max-width: 53ch;
}

.top-btn {
    position: fixed;
    bottom: 5px;
    right: 0;
    width: 6rem;
    aspect-ratio: 300/258;
    z-index: 100;
}

.top-btn img {
    width: 100%;
    height: 100%;
}
